@page
@model IndexModel
@{
    ViewData["Title"] = "Категории";
}
<head>
    <link rel="stylesheet" href="css/site.css">
</head>
    <div class="text-center">
        <p>Выберите интересующую категорию</p>
    </div>
    <table style="text-align: center">
        <tr>
            <td><a href="https://localhost:5000/Cars/Index"></a><img id="1" src="https://avatars.mds.yandex.net/get-zen_doc/1921148/pub_5ffc4628bb14d54ffb537668_5ffc4692f906b16872a534c8/scale_1200" alt="автомобиль" vspace="20" height="300" width="300" class="scale"></img></td>
            <td><img id="2" src="https://cdn.fishki.net/upload/post/2018/09/06/2695848/tn/02.jpg" alt="еда" height="300" width="300" hspace="20" class="scale"></img></td>
            <td><img id="3" src="https://dropxdomain.ru/wp-content/uploads/2020/11/shutterstock-451991974.jpg" alt="Личный блог" height="300" width="300" class="scale"></img></td>
        </tr>
            
        <tr>
            <td> <img id="4" src="https://school43.spb.ru/images/pictures/1307298527_6895.jpg" alt="Наука" height="300" width="300" class="scale"></img></td>
            <td><img id="5" src="https://wordsharpeners.files.wordpress.com/2016/02/history.jpg" alt="История" height="300" width="300" class="scale"></img></td>
            <td><img id="6" src="https://avatars.mds.yandex.net/get-zen_doc/3582174/pub_6085a9d211963e55626a2364_6085aa3b5bfb251ca7cb1b0f/scale_1200" alt="Спорт" height="300" width="300" class="scale"></img></td>
        </tr>
        <style>
               .scale {
                transition: 1s; 
               }
               .scale:hover {
                transform: scale(1.2); 
               }
        </style>
    </table>

